@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-white text-[#37352f];
  }
}

/* Custom Scrollbar for Notion feel */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d3d1cb;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}